body {
  background-color: #f05565;
  color: #eee;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: calc(25%);
  text-align: center;
}

.music-player {
  align-items: center;
  display: flex;
  height: 100vh
}

.image {
  background-color: #eee;
  border: 1px solid #ccc;
  box-shadow: 5px 10px 10px #bc1021;
  padding: 15px 15px 60px 15px;
  width: 400px;
}

.image:after {
  bottom: 0px;
  color: #222;
  content: attr(image-caption);
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  left: 0px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
}

.slant-none {
  margin-bottom: 100px;
  margin-top: 100px;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.slant-left {
  margin-bottom: 150px;
  margin-top: 150px;
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}

.slant-right {
  margin-bottom: 150px;
  margin-top: 150px;
  transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
}

.hide {
  visibility: hidden;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .image {
    padding: 15px 15px 60px 15px;
    width: 250px;
  }

  .image:after {
    font-size: 20px;
    width: 100%;
  }
}
